.footer-container {
  background: #F9F9F9;
  box-shadow: 0 -2px 4px 0 rgba(0,0,0,0.09);
  text-align: center;
  font-family: 'Roboto';
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  line-height: 20px;
  padding: 12px 15px;
  height: 44px;
  @include breakpoint(768) {
    height: auto;
  }
}