<section class="scrum-container">
  <div class="container">
    <p class="scrum-desc">Chào mừng, bạn đến với Hệ thống chính quyền điện tử tỉnh Quảng Nam</p>
    <div class="scrum-action @@auth">
      <div class="scrum-un-auth">
        <a href="javascript:void(0)" class="link">ĐĂNG NHẬP</a>&nbsp;|&nbsp;
        <a href="javascript:void(0)" class="link">ĐĂNG KÝ</a>
      </div>
      <div class="scrum-auth">
        <a href="javascript:void(0)" class="link avt">
          <span class="icon icon-user"></span>
          Nguyễn Văn Anh</a>&nbsp;|&nbsp;
        <a href="./" class="link">Đăng xuất</a>
      </div>
    </div>
  </div>
</section>