<form class="form wow fadeInDown" data-wow-duration="0.5s">
  <h2 class="title">ĐĂNG NHẬP</h2>
  <div class="input-form">
    <label class="label">TÀI KHOẢN <span class="required">*</span></label>
    <input type="text" name="username" class="input">
  </div>
  <div class="input-form">
    <label class="label">MẬT KHẨU <span class="required">*</span></label>
    <input type="password" name="password" class="input">
  </div>
  <div class="wrap-actions">
    <div class="checkbox">
      <input type="checkbox" name="checkbox">
      <span class="checkmark"></span>
      Ghi nhớ mật khẩu đăng nhập
    </div>
    <div class="fogot">
      <a href="">Quên mật khẩu</a>
    </div>
  </div>
  <div class="wrap-button">
    <a href="./home.html" class="submit">ĐĂNG NHẬP</a>
  </div>
</form>